@font-face {
    font-family: 'DS-Digital';
    src:url('../fonts/DS-Digital.ttf.woff') format('woff'),
        url('../fonts/DS-Digital.ttf.svg#DS-Digital') format('svg'),
        url('../fonts/DS-Digital.ttf.eot'),
        url('../fonts/DS-Digital.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

/*html, body {
  margin: 0;
  padding: 0;
}*/


.clock {
  display: flex;
  justify-content:center;
  align-items:center;
  text-align: center;
  margin: 0;
  padding:2%;
}

.clockDisplay1, .clockDisplay2{
  min-height: 100%;
  margin: 0 2.5%;
  flex: 1;
}

.innerClock {
  display: flex;
  background: black;
  color: red;
  font-size: 140px;
  padding: 5%;


  font-family: 'DS-Digital';
}

.buttons {
  display: flex;
  justify-content: center;

}
.pause, .restart {
  margin: 1% 5%;
  flex: 1;
}

.pause {
  max-width: 75%;
}

.restart {
  max-width: 20%;
}

.timerOne, .timerTwo {
  flex: 1;
  margin: 0;
}
.borderBox {
  border: solid 2px black;
}

.hidden {
  display: none;
}

.timeSelect {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  text-align: center;
  flex: 1;
}

input {
  text-align: center;
  font-size: 25px;
}

.playerOneName, .playerTwoName{
  font-family: sans-serif;
}

.changeState {
  flex: 1;
}

h1 {
  text-align: center;
}



@media (max-width: 567px) {
  .clockDisplay1, .clockDisplay2 {
    margin: 2% 0;
  }
  .clock {
    flex-direction: column;

  }
  .innerClock {
    margin: 0;
    font-size: 500px;
  }
  input {
    text-align: center;
    font-size: 20px;
  }
}


/*@media (max-width: 640px) {
  .innerClock {
    margin: 0;
    font-size: 50px;
  }
}*/

@media (max-width: 1240px) {
  .innerClock {
    margin: 0;
    font-size: 90px;
  }
}

@media (max-width: 1115px) {
  .innerClock {
    margin: 0;
    font-size: 80px;
  }
}

@media (max-width: 995px) {
  .innerClock {
    margin: 0;
    font-size: 70px;

  }
}

@media (max-width: 875px) {
  .innerClock {
    margin: 0;
    font-size: 60px;
  }
}
