@font-face {
    font-family: 'DS-Digital';
    src:url('../fonts/DS-Digital.ttf.woff') format('woff'),
        url('../fonts/DS-Digital.ttf.svg#DS-Digital') format('svg'),
        url('../fonts/DS-Digital.ttf.eot'),
        url('../fonts/DS-Digital.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

/*html, body {
  height:100%;
}*/

body {
  padding: 5%;
}

.clock {
  display: flex;
  justify-content:center;
  align-items:center;
  text-align: center;
  border: solid 3px black;
  padding: 2.5% 0;
}

.clockDisplay1, .clockDisplay2, button {
  border: solid 2px black;
  margin: 2.5%;
  flex: 1;
  min-height: 200px;
}

.innerClock {
  display: flex;
  border: solid 2px black;
  background: black;
  color: red;
  font-size: 100px;

  font-family: 'DS-Digital';
}

.pause {
  flex: 1;
  max-width: 10%;
  display: flex;
  justify-content: center;
}

p {
  flex-grow: 1;
}



@media (max-width: 360px) {
  .clock {
    flex-direction: column;
  }
  .innerClock {
    margin: 5%;
    font-size: 50px;
  }
  .pause {
  }
}

@media (min-width: 640px) {
  .innerClock {
    font-size: 60px;
  }
}


.borderBox {
  border: solid 2px black;
}
