@font-face {
    font-family: 'DS-Digital';
    src:url('../fonts/DS-Digital.ttf.woff') format('woff'),
        url('../fonts/DS-Digital.ttf.svg#DS-Digital') format('svg'),
        url('../fonts/DS-Digital.ttf.eot'),
        url('../fonts/DS-Digital.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

/*html, body {
  height:100%;
}*/

body {
  padding: 5%;
}

.clock {
  display: flex;
  justify-content:center;
  align-items:center;
  text-align: center;
  padding: 2.5% ;
}

.clockDisplay1, .clockDisplay2, button {
  margin: 2.5%;
  flex: 1;
}

.innerClock {
  display: flex;
  background: black;
  color: red;
  font-size: 100px;
  margin: 0;

  font-family: 'DS-Digital';
}

.pause {
  flex: 1;
  max-width: 10%;
  display: flex;
  justify-content: center;
  height: 200px;

}

p {
  flex-grow: 1;
}



@media only screen and (max-width: 760px) {
  .clock {
    flex-direction: column;
  }
  .innerClock {
    margin: 5%;
    font-size: 50px;
  }
  .pause {
    height: 20px;
    max-width: 100% !important;
    margin: 10px;
  }
}

/*@media (max-width: 640px) {
  .innerClock {
    margin: 0;
    font-size: 50px;
  }
}*/

@media only screen and (max-width: 1240px) {
  .innerClock {
    margin: 0;
    font-size: 90px;
  }
}

@media only screen and (max-width: 1115px) {
  .innerClock {
    margin: 0;
    font-size: 80px;
  }
}

@media only screen and (max-width: 995px) {
  .innerClock {
    margin: 0;
    font-size: 70px;
  }
}

@media only screen and (max-width: 875px) {
  .innerClock {
    margin: 0;
    font-size: 60px;
  }
}


.borderBox {
  border: solid 2px black;
}
