@font-face {
    font-family: 'DS-Digital';
    src:url('../fonts/DS-Digital.ttf.woff') format('woff'),
        url('../fonts/DS-Digital.ttf.svg#DS-Digital') format('svg'),
        url('../fonts/DS-Digital.ttf.eot'),
        url('../fonts/DS-Digital.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

html, body {
  height:100%;
}

body {
  display:flex;
  /*flex-direction: column;*/
  justify-content:center;
  align-items:center;
  padding: 5%;
}

.clock {
  flex-grow: 1;
  display: flex;
  justify-content:center;
  align-items:center;
  text-align: center;
  border: solid 3px black;
}

.clockDisplay1, .clockDisplay2 {
  border: solid 2px black;
  flex-grow: 1;
}

.padded {
  padding: 20px;
}

.innerClock {
  display: flex;
  border: solid 2px black;
  background: black;
  color: red;
  font-size: 100px;
  padding: 20px;
  font-family: 'DS-Digital';
}

p {
  flex-grow: 1;

}
